@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d102e;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    margin: 5rem 0;
    border-radius: 15px;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #000b5e;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.botao-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.botao-login button {
    border: none;
    border-radius: 5px;
    background-color: #000b5e;
    width: 25%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
    font-weight: 500;
    color: white;
}

.botao-login button:hover {
    background-color: #4954a3;
}

.botao-login button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.cadastro-inputs {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.input-telefone,
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input select {
    margin: 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-telefone input,
.input input {
    margin: 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-telefone input:hover,
.input input:hover {
    background-color: #eeeeee75;
}

.input-telefone input:focus-visible,
.input input:focus-visible {
    outline: 1px solid #000b5e;
}

.input-telefone input::placeholder,
.input input::placeholder {
    color: #000000be;
}

.input label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.telefone-titulo {
    margin-left: 1rem;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.telefone-fieldset {
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 15px;
}

.telefone-inputs {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
    padding: 0.5rem;
}

.botao-telefone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: none;
    border-radius: 5px;
    background-color: #000b5e;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
    font-weight: 500;
    color: white;
}

.botao-telefone:hover {
    background-color: #4954a3;
}

#resultado {
    margin: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.span-required {
    display: none;
    font-size: 11px;
    margin: 0 0 0 2px;
    color: #e63636;
}